*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/base
/chromium/.gclient.tmp
/chromium/.gclient.tmp_entries
/chromium/.last_sync_chromium
/chromium/_bad_scm
/gyp-mac-tool
/isolate_deps_dir
/links
/links.db
/out
/resources/**/*.aecdump
/resources/**/*.bin
/resources/**/*.chn
/resources/**/*.dat
/resources/**/*.gai
/resources/**/*.jpg
/resources/**/*.pcap
/resources/**/*.pcm
/resources/**/*.rtp
/resources/**/*.rx
/resources/**/*.wav
/resources/**/*.yuv
/resources/**/*.BIT*
/resources/**/*.INP
/resources/**/*.OUT*
/talk/examples/android/bin
/talk/examples/android/gen
/talk/examples/android/libs
/talk/examples/android/local.properties
/talk/examples/android/obj
/talk/examples/android/proguard-project.txt
/talk/examples/androidtests/bin
/talk/examples/androidtests/gen
/talk/app/webrtc/androidtests/bin
/talk/app/webrtc/androidtests/gen
/talk/app/webrtc/androidtests/libs
/x86-generic_out/
/xcodebuild

